* {
    box-sizing: border-box;
    /* text-align: center; */
  }


header {
  background-color: #4aaaa5;

  font-family: "Georgia", Times, Times New Roman, serif;
}



h2,
h3 {
  color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}



#connectapps img:hover
{
    background-color: #4aaaa5;
}

.card-header{
  background-color: #4aaaa5;
}
.card-block
{
  background-color: white;
  
}
.card-text, .card-title
{
  background-color: white;
  margin: 0px;
}



